
html {
    font-size:100%;
    sx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
a,
img,
strong,
sub,
b,
u,
i,
ul,
li,
form,
label {
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    font-size:100%;
    margin:0;
    padding:0;
}

a:active,
a:hover,
a:focus,
input:active,
button:active,
button,
textarea:focus,
input:focus {
    outline:0;
    text-decoration: none;
}

ins {
    text-decoration:none;
}

input,
select,
button,
textarea {
    font-size:100%;
    margin:0;
    padding:0;
}

button,
input,
select,
textarea {
    font-size:100%;
    vertical-align:baseline;
    margin:0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor:pointer;
    overflow:visible;
}

button[disabled],
input[disabled] {
    cursor:default;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
    display:block;
    margin:0;
    padding:0;
}

img {
    border:0;
}

ul,
ol{
    margin-bottom: 30px;
    list-style: none;
}

ol {
    margin: 0 0 0 10px;
    padding: 0;
    counter-reset: num;
}

ol li:before {
    content: counter(num) '. ';
    counter-increment: num;
}

ol ol li:before {
    content: counters(num, '.') ' ';
}


table {
    border-collapse:collapse;
}

table,
.table{
    width:100%;
    margin-bottom:0;
}

.table-responsive{
    border: 0;
    margin-bottom: 0;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
    border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
