/*------------------------------------------------------------------
[ LAYOUT ]
-------------------------------------------------------------------*/

body {
    font-family: 'Lato', sans-serif;
    font-size:19px;
    line-height:30px;
    color:#8c8c8c;
    overflow-x:hidden;
    background-color: #1a1a1a;

}

.wrapper{
    padding-bottom: 15px;
    background: #FFF;
}

.container{
    padding: 65px 0;
    position: relative;
}

.canvas{
    height: 135px;
    background: url(../img/canvas.png) center bottom no-repeat;
    margin-bottom: 50px;
}
/*------------------------------------------------------------------
[ TYPOGRAPHY ]
-------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
    color: #1a1a1a;
    text-transform: uppercase;
}

h1{
    font-size: 48px;
    margin: 0 0 35px;
}

h2{
    font-size: 40px;
    margin: 0 0 70px;
}

h3{
    font-size: 29px;
    margin: 0 0 30px;
    color: #1a1a1a;
}

h4{
    font-size: 25px;
    margin: 0 0 30px;
}

h5{
    font-size: 20px;
    margin: 0 0 30px;
}

h6{
    font-size: 20px;
}

p {
    margin-bottom:25px;
}

a{
    color:#e63020;
    text-decoration:none;
}

a:hover,
a:active,
a:focus,
.inherit{
    color: #1a1a1a;
}

.color,
a.text-primary:hover{
    color: #e63020 !important;
}

a,
i,
input,
textarea,
button,
.mask{
    transition: all .3s ease;
}

img{
    width: 100%;
}

/*------------------------------------------------------------------
[ HEADER ]
-------------------------------------------------------------------*/

.header{
    padding-bottom: 65px;
}

header h1{
    margin-bottom: 0;
}

.logo{
    font-size: 38px;
    line-height: 34px;
    color: #1a1a1a;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    max-width: 320px;
}

.logo:hover{
    color: #e63020;
}

/*------------------------------------------------------------------
[ CONTENT ]
-------------------------------------------------------------------*/

.page-header + .container{
    padding-top: 0;
}

.page-header{
    margin-bottom: 30px;
    border:0;
    padding:0;
    margin-top:0;
}

/*------------------------------------------------------------------
[ FOOTER ]
-------------------------------------------------------------------*/

.footer {
    background-color: #1a1a1a;
    color: #4c4c4c;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}

.footer .container{
    padding: 94px 0 0;
}

.footer .container:last-child{
    padding: 80px 0 50px;
}

.footer p{
    color: #595959;
}

.footer a{
    color: #808080;
    line-height: 30px;
}

.footer a:hover{
    color: #e63020;
}
